body {
    margin: 0;
    padding: 0;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  #root{
    margin: 0;
    padding:0;  
}
    

main{
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    display: block;
    padding: 0;
  
}



section{
    padding: 0;
    width: 100%;
    margin: auto;
    display:block;
    background-color: #d4e3fc;
}

h4{
    width: 250px;
    position: relative;
    left:18%;
    font-size: 25px !important;
    display: block;
    margin-bottom: 10px !important;
    margin-top: 20px !important ;
    margin: 10px;

}

main section:nth-child(2){
     height: 600px;
}

main section:nth-child(4){
    height: 400px;
}

#most_popular{
    margin-top: 10px;
}

#most_popular article{
    max-width: 600px;
    width: 100%;
}

.agenda_bg{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(140, 177, 252, 0.5));
}


#agenda{
    margin-left: 20%;
    height: 50px;
    line-height: 60px;
}




#most_recent article{
    max-width: 1000px;
    width: 100%;
    margin-left:15%;
    margin-bottom: 50px;
    padding-block-end: 25px;
}

#most_recent article div span{
    margin-top:20px;
   
}


@media(  max-width: 768px ) {
    section{
        width: 100%;
        margin: auto;
        display:block;
        background-color: #d4e3fc;
    }

    h4{
        left:5%;
        font-size: 18px !important;
    }

    #agenda{
        margin-left: 1%;
        width: 90%;
        height: 50px;
        font-size: 18px !important;
        line-height: 28px;
        text-align: center;
    }
    
    #most_recent {
        max-width: 600px; 
        height: 500px;
    }
    
    #most_recent article{
        width: 90%;
        margin-left:2%;
    }
    
    #most_recent article div span{
        margin-top:20px;
       
    }
    
    
} 