h3{
    margin: auto;
    position: relative;
    left: 0%;  
    font-size: 25px !important;
    margin-bottom: 10px;
}

.radio{
    margin-left: 25px;
}

.select{
    margin-top: 2% !important;
}

.form-control-report{
    width: 45% !important;
}

.report-card{
    width: 125% !important;
}

.row-report{
    position: relative;
    left: -10% !important;
}

.upload_photo{
    position: absolute ;
    top: 18% ;
    right: 10%;
    width: 25%;


}

.imgPreview{
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  max-width: 232px;
  height:232px;
  width: 100%;
  display: block;
  border-radius: 3px;

}
.imgPreview img{
    max-width:232px;
    max-height:230px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;

  }

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    width: 100%;
    max-width: 235px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #4b5363;
    color: white;

}

.line{
    max-width: 120%;
    margin: auto;
    height: 1px;
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 15px;
    margin-top:25px;;
}

#color_textbox{
    max-width: 200px !important;
    width: 100%;
}

.colorPicker{
    position: absolute;
    top: 90%;
    left: 90%
}

.comment{
    color: red;
}

